BluetoothLocker/BluetoothLocker/bin/Debug/BluetoothLocker.exe
BluetoothLocker/BluetoothLocker/bin/Debug/BluetoothLocker.exe.config
BluetoothLocker/BluetoothLocker/bin/Debug/BluetoothLocker.pdb
BluetoothLocker/BluetoothLocker/bin/Debug/BluetoothLocker.vshost.exe.config
BluetoothLocker/BluetoothLocker/bin/Debug/BluetoothLocker.vshost.exe.manifest
BluetoothLocker/BluetoothLocker/obj/Debug/BluetoothLocker.BluetootherForm.resources
BluetoothLocker/BluetoothLocker/obj/Debug/BluetoothLocker.DisplayPasswords.resources
BluetoothLocker/BluetoothLocker/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BluetoothLocker/BluetoothLocker/obj/Debug/DesignTimeResolveAssemblyReferences.cache